{% extends "new/base.html" %}

{% block scripts %}
    {{ block.super }}
    <script id="main-nav-template" type="text/template">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div id="main-nav-brand" class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#js-navbar-collapse-hook">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand" style="padding: 5px;">
                        <svg width="180" height="100%" viewBox="0, 0, 300, 70" preserveAspectRatio="xMinYMid meet">
                            <g>
                                <text style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
                                   x="50"
                                   y="14">
                                   <tspan sodipodi:role="line">The</tspan>
                                </text>
                                <text  style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:-1px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
                                   x="80" 
                                   y="35">
                                   <tspan sodipodi:role="line"><tspan style="line-height:1000%;fill:#008000">Topic</tspan>al</tspan>
                                </text>
                                <text style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:-1px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
                                   x="185"
                                   y="67">
                                   <tspan>Guide</tspan>
                                </text>
                                <g>
                                    <rect
                                       style="fill:#000000;fill-opacity:1"
                                       width="50"
                                       height="70"
                                       x="0"
                                       y="0"
                                       ry="11"
                                       rx="11" />
                                    <rect
                                       style="fill:#ffffff;fill-opacity:1"
                                       width="40"
                                       height="60"
                                       x="5"
                                       y="5"
                                       rx="8"
                                       ry="8" />
                                    
                                    <rect
                                       style="fill:#0000cc;fill-opacity:1"
                                       width="30"
                                       height="6"
                                       x="10"
                                       y="15"
                                       rx="4"
                                       ry="4" />
                                    <rect
                                       style="fill:#00d000;fill-opacity:1"
                                       width="30"
                                       height="6"
                                       x="10"
                                       y="26"
                                       rx="4"
                                       ry="4" />
                                    <rect
                                       style="fill:#d30000;fill-opacity:1"
                                       width="30"
                                       height="6"
                                       x="10"
                                       y="37"
                                       rx="4"
                                       ry="4" />
                                    <rect
                                       style="fill:#ee7216;fill-opacity:1"
                                       width="30"
                                       height="6"
                                       x="10"
                                       y="48"
                                       rx="4"
                                       ry="4" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div id="js-navbar-collapse-hook" class="collapse navbar-collapse">
                    <ul id="main-nav-bar" class="nav navbar-nav"></ul>
                </div>
            </div>
        </nav>
    </script>
    
    <script id="main-nav-item-template" type="text/template">
        <% if(active) { %>
            <li class="active">
        <% } else { %>
            <li>
        <% } %>
        <a href="<%= href %>"><%= name %></a></li>
    </script>
    
    <script id="main-nav-dropdown-template" type="text/template">
        <a class="dropdown-toggle" data-toggle="dropdown"><%= name %><% if(isTopMenu) { %><span class="caret"></span><% } %></a>
        <ul class="dropdown-menu" role="menu"></ul>
    </script>
    
    <script id="main-nav-settings-template" type="text/template">
        <ul class="nav navbar-nav navbar-right">
            <li><a id="main-nav-help"><span class="glyphicon glyphicon-question-sign"</span></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
                <ul id="main-nav-settings" class="dropdown-menu" role="menu"></ul>
            </li>
        </ul>
    </script>
    
    <script id="datasets-template" type="text/template">
        <% if(hasDatasets) { %>
            <p>Welcome to the Topical Guide. Select a dataset to see an overview. Once a dataset is selected click on an analysis to start exploring. Enjoy!</p>
            <div id="accordion" class="panel-group"></div>
        <% } else { %>
            <div class="panel"><p>No datasets yet. Import one using <code>python topicalguide.py -h</code>.</p></div>
        <% } %>
    </script>
    
    <script id="dataset-template" type="text/template">
        <div class="panel panel-default">
            <div id="dataset-<%= identifier %>" class="panel-heading text-center">
                <a class="nounderline" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= identifier %>">
                    <h3 class="panel-title"><b><%= readable_name %></b></h3>
                </a>
            </div>
            <div id="collapse-<%= identifier %>" class="panel-collapse collapse" dataset="<%= identifier %>">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="col-xs-4">
                            <h4>Analyses</h4>
                            <% if(_.size(analyses) > 0) { %>
                                <ul class="nav nav-pills nav-stacked">
                                    <% for(key in analyses) { %>
                                        <li><a href="#Topics?dataset=<%= identifier %>&analysis=<%= key %>"><%= analyses[key]["readable_name"] %></a></li>
                                    <% } %>
                                </ul>
                            <% } else { %>
                                <p>No analyses available for this dataset. Import one using <code>python topicalguide.py -h</code>.</p>
                            <% } %>
                        </div>
                        <div class="col-xs-8">
                            <h4>Description</h4><p><%= description %></p>
                                
                            <h4>Metadata</h4>
                            <div id="metadata">
                            <% if(_.size(metadata) > 0) { %>
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Key</th><th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(key in metadata) { %>
                                            <tr>
                                                <td><%= key %></td>
                                                <td><%= metadata[key] %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            <% } else { %>
                                <p>No metadata available for this dataset.</p>
                            <% } %>
                            </div>
                            
                            <h4>Metrics</h4>
                            <div id="metrics">
                                <% if(_.size(metrics) > 0) { %>
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Metric</th><th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(key in metrics) { %>
                                                <tr>
                                                    <td><%= key %></td>
                                                    <td><%= metrics[key] %></td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                <% } else { %>
                                    <p>No metrics available for this dataset.</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    
    <script id="visualization-template" type="text/template">
        <div id="visualization-container"></div>
        <div id="control-container"></div>
        <div id="info-container"></div>
    </script>
    
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/model.js"></script>
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/router.js"></script>
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/settings.js"></script>
    
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/datasets_view.js"></script>
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/visualizations/main_view.js"></script>
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/visualizations/chord_view.js"></script>
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/visualizations/plots_view.js"></script>
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/topics_view.js"></script>
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/documents_view.js"></script>
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/words_view.js"></script>
{% endblock %}

