{% extends "widgets/base_widget.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}
{% block widget %}
<div class="ui-widget full" id="word-in-context">
    <div class="ui-widget-header">Word in Context</div>
    <table class="ui-widget-content ui-widget kwic">
        <col class="filename"/>
	    <col class="lcontext"/>
	    <col class="word"/>
	    <col class="rcontext"/>
	    <col class="reload"/>
	    {% comment %}
	    <thead>
		    <tr class="ui-widget-header">
		        <th>Filename</th>
		        <th>L. Context</th>
		        <th>Word</th>
		        <th>R. Context</th><th></th>
		    </tr>
	    </thead>
	    {% endcomment %}
        <tbody class="ui-widget-content">
        {# These rows are placeholders for jQuery to insert row content into #}
        {% for word in word_contexts %}
        <tr id="id_{{ word.word }}_{{ word.number }}"><td></td><td></td><td></td><td></td><td></td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block widget_ready_script %}
    {% for word in word_contexts %}
        get_context_for_word("{{ word.word }}", {{ word.number }});
    {% endfor %}
{% endblock %}