{% comment %}
The Topical Guide
Copyright 2010-2011 Brigham Young University

This file is part of the Topical Guide <http://nlp.cs.byu.edu/topic_browser>.

The Topical Guide is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topical Guide is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topical Guide.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topical Guide, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Topical Guide{% if view_description %} &mdash; {{view_description}}{% endif %}</title>
        
        <link rel="shortcut icon" href="{{nlp_lab_small_logo_url}}" />
        
        {% block stylesheets %}
        <link rel="stylesheet" href="{{STYLES}}/core/base.css" type="text/css" />
        <!--link rel="stylesheet" href="{{STYLES}}/cupertino/jquery-ui-1.8.11.custom.css" type="text/css" /-->
        <link href="/site-media/bootstrap/css/bootstrap.min.css" rel="stylesheet"
            media="screen"/>
        {% endblock %}
        
        {% block scripts %}
        <script src="/site-media/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{SCRIPTS}}/core/base.js"></script>        
                
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block header %}{% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
