{% extends "core/base.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% load url from future %}

{% block scripts %}
    {{block.super}}
    <script>
        $(document).ready(function() {
        	{# Favorite This View #}
        	
        	
        	var form = $("#fav-this-form");
        	var input = $("> input", form);
        	
        	input.keyup(function() {
                if(!this.value) {
                    $(this).addClass('ui-state-error');
                } else {
                    $(this).removeClass("ui-state-error");
                }
            });
        	
        	form.dialog({
        		autoOpen:false,
        		modal:true,
        		position:['right','top'],
        		title:'Enter a name for this favorite',
        		buttons: {"Save": function(){
        			var name = input.val();
        			var favid = slugify(name);
        			if(favid) {
        			    form.dialog('close');
        			    favorite_this_view(name, favid);
       			    }
        		}, "Cancel": function(){
        			form.dialog('close');
        		}}
       		});
        	
        	$("button#fav-this").button({label: "Fav This"}).click(function(){
                input.addClass("ui-state-error").val('');
                form.dialog('open');
            });
        	$("button#favs").button({text:false, icons: {primary: "ui-icon-triangle-1-s"}}).click(function(){
        		var menu = $("nav#header li#favorites ul");
        		switch(menu.css("visibility")) {
	        		case "visible":
	        			menu.css("visibility","hidden");
	        			break;
	        		case "hidden":
	        			menu.css("visibility","visible");
	        			break;
	       			default:
	       				menu.css("visibility","hidden");
	       				break;
        		}
        	});
        	
        	$("span#buttons").buttonset();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{{STYLES}}/core/frame.css" type="text/css" />
{% endblock %}

{% block header %}
{# Modal dialog form used by the Favorite This View functionality #}
<div id="fav-this-form" title="Favorite This View">
    <input type="text" name="fav-this-view" id="name" class="text ui-widget-content ui-corner-all" />
</div>

<nav id="header">
	{% block nav_menu %}
	    <ul id="breadcrumbs" class="nav-menu left">
			<li id="logo">
				<a href="{% url 'tg-datasets' %}">
					<img src="{{nlp_lab_small_logo_url}}" alt="BYU NLP Lab Logo"/>
				</a>
			</li>
			
			<li id="title-text" class="breadcrumb" title="Go Home">
				<a href="{% url 'tg-datasets' %}">The Topical Guide</a>
			</li>
			
			{{breadcrumb.to_ul|safe}}
	    </ul>{# end breadcrumbs #}
	    <ul id="buttons" class="nav-menu right">
		    {% comment %}
			<li id="namescheme-dropdown">
				Topic Name Scheme: <select name="namescheme" id="namescheme-dropdown-select" onchange="set_name_scheme()">
				{% for namescheme in nameschemes %}
				<option value="{{ namescheme.id }}"{% ifequal namescheme.id currentnamescheme.id%} selected="selected"{% endifequal %}>{{namescheme.name}}</option>
				{% endfor %}
				</select>
			</li>
			{% endcomment %}
			
			<li id="favorites">
			    <span id="buttons">
					<button id="fav-this" title="Favorite This View"></button>
					<button id="favs" title="Favorites">&nbsp;</button>
				</span>
				<ul id="entities">
                   {% for type,favs in favorites.items %}
                   {% if favs %}
                       <li id="{{type}}" class="entity">
                           <a class="entity-type">{{type|title}}</a>
                           <ul>
                           {% for fav in favs %}
                               <li class="favorite"><img class="star fav" favurl="{{fav.favurl}}" type="{{type}}" /><a href="{{fav.url}}">{{fav.text}}</a></li>
                           {% endfor %}
                           </ul>
                       </li>
                   {% endif %}
                   {% endfor %}
               </ul>
			</li>
		    
	    </ul>
	{% endblock %}
</nav>
{% endblock %}{# end block header #}

{% block footer %}
<footer>
	<ul class="nav-menu">
		{% block footer_items %}
		<li><a href="{{topical_guide_project_url|safe}}" class="new-window">The Topical Guide</a></li>
		<li>Copyright 2010-2011 <a href="http://www.byu.edu/" class="new-window">Brigham Young University</a></li>
		<li>Developed by <a href="{{nlp_lab_url|safe}}" class="new-window">the BYU Natural Language Processing Lab</a></li>
		{% endblock %}
	</ul>
</footer>
{% endblock %}
