{% extends "core/frame.html" %}
{% comment %}
The Topical Guide
Copyright 2010-2011 Brigham Young University

This file is part of the Topical Guide <http://nlp.cs.byu.edu/topic_browser>.

The Topical Guide is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topical Guide is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topical Guide.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topical Guide, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% load url from future %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{{STYLES}}/core/main_application.css" type="text/css" />
    {% for tab in tabs %}
        {% if tab.style_url %}
        <link href="{{tab.style_url}}" type="text/css" rel="stylesheet" />
        {% endif %}
        {% for widget in tab.widgets.values %}
            {% if widget.style_url %}
            <link href="{{widget.style_url}}" type="text/css" rel="stylesheet"/>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block scripts %}
    {{block.super}}
    <script type="text/javascript" src="{{SCRIPTS}}/core/main_application.js"></script>
    <script type="text/javascript">
        $.fn.dataset = "{{ dataset.name }}";
        $.fn.analysis = "{{ analysis.name }}";
        $.fn.dataset_url = "{{ dataset_url }}";
        $.fn.analysis_url = "{{ analysis_url }}";
        $.fn.attributes_url = "{{ attributes_url }}";
        $.fn.documents_url = "{{ documents_url }}";
        $.fn.plots_url = "{{ plots_url }}";
        $.fn.topics_url = "{{ topics_url }}";
        $.fn.words_url = "{{ words_url }}";
        
        $(document).ready(function() {
            {% block document_ready_script %}
                $("div#presentation-area div#tabs").tabs();
            {% endblock %}
        });
        
        $("#tabs li").mouseenter(function(){
            $(this).addClass("ui-state-hover");
        });
        $("#tabs li").mouseleave(function(){
            $(this).removeClass("ui-state-hover");
        });
    </script>
    {% for tab in tabs %}
        {% if tab.script_url %}
        <script type="text/javascript" src="{{tab.script_url}}"></script>
        {% endif %}
        {% for widget in tab.widgets.values %}
            {% if widget.script_url %}
            <script type="text/javascript" src="{{widget.script_url}}"></script>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block body %}
<div id="main">
	<div id="sidebar" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	    <ul id="tabs" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
	        <li class="top-level ui-state-default ui-corner-top {%ifequal highlight "topics_tab"%} ui-tabs-selected ui-state-active{%endifequal%}">
	            <a href="{% url 'tg-analysis' dataset=dataset.name analysis=analysis.name %}">Topics</a>
	        </li>
	        <li class="top-level ui-state-default ui-corner-top {%ifequal highlight "documents_tab"%} ui-tabs-selected ui-state-active{%endifequal%}">
	            <a href="{% url 'tg-docs' dataset=dataset.name analysis=analysis.name %}">Documents</a>
	        </li>
	        <li class="top-level ui-state-default ui-corner-top {%ifequal highlight "words_tab"%} ui-tabs-selected ui-state-active{%endifequal%}">
	            <a href="{% url 'tg-words' dataset=dataset.name analysis=analysis.name %}">Words</a>
	        </li>
	        <li class="top-level ui-state-default ui-corner-top {%ifequal highlight "attributes_tab"%} ui-tabs-selected ui-state-active{%endifequal%}">
	            <a href="{% url 'tg-attrs' dataset=dataset.name analysis=analysis.name %}">Metadata</a>
	        </li>
	        <li class="top-level ui-state-default ui-corner-top {%ifequal highlight "plots_tab"%} ui-tabs-selected ui-state-active{%endifequal%}">
	            <a href="{% url 'tg-plots' dataset=dataset.name analysis=analysis.name %}">Plots</a>
	        </li>
	        <li class="top-level ui-state-default ui-corner-top {%ifequal highlight "plots_tab"%} ui-tabs-selected ui-state-active{%endifequal%}">
	            <a href="{% url 'tg-fancy' dataset=dataset.name analysis=analysis.name %}">Fancy</a>
	        </li>
	    </ul>
	    <div id="tab-content" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
	        <div class="header">
	            {% block above_sidebar%}
	            {% endblock %}
	        </div>
	        <div class="body">
	            {% block sidebar %}
	               {% block sidebar-list-nav %}
	                <div id="list-nav">
                        <span id="back-arrows" class="arrows" style="visibility:hidden;">
                            <a id="first" title="First"><img src="{{IMAGES}}/tango/22x22/actions/go-first.png"/></a>
                            <a id="prev" title="Previous"><img src="{{IMAGES}}/tango/22x22/actions/go-previous.png"/></a>
					    </span>
					    <span id="page-situation">Page <span id="current-page"></span> of <span id="page-count"></span>
					    </span>
					    <span id="fwd-arrows" class="arrows" style="visibility:hidden;">
					        <a id="last" title="Last"><img src="{{IMAGES}}/tango/22x22/actions/go-last.png"/></a>
					        <a id="next" title="Next"><img src="{{IMAGES}}/tango/22x22/actions/go-next.png"/></a>
					    </span>
				    </div>
				    {% endblock %}
				    {% block sidebar-list %}<ul id="sidebar-list" class="vertical"></ul>{% endblock %}
	            {% endblock %}
	        </div>
	        <div class="footer">
	            {% block sidebar_tab_panel_footer%}{% endblock %}
	        </div>
	    </div>
	</div>{# end div sidebar #}<div id="presentation-area">
	    {% block presentation_area %}
	    <div id="tabs">
	        <ul>
	            {% for tab in tabs %}
	            <li><a href="#tab-{{tab.title|slugify}}">{{tab.title}}</a></li>
	            {% endfor %}
	        </ul>
	        {% for tab in tabs %}
	           <div id="tab-{{tab.title|slugify}}">
	           {{tab|safe}}
	           </div>
	        {% endfor %}
	    </div>
	    {% endblock %}
	</div>
</div>{# end div main #}
{% endblock %}
