/*
 * The Topic Browser
 * Copyright 2010-2011 Brigham Young University
 *
 * This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.
 *
 * The Topic Browser is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * The Topic Browser is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.
 *
 * If you have inquiries regarding any further use of the Topic Browser, please
 * contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
 * Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
 */

/* Style specific to the home page (aka datasets page) */

@font-face {
  font-family: 'Caudex';
  font-style: normal;
  font-weight: 400;
  src: local('Caudex'), url('/site-media/fonts/caudex/Caudex-Regular.woff') format('woff');
}

.title {
	font-style: normal;
	font-size: 50px;
	font-family: 'Caudex', arial, serif;
	font-weight: normal;
    text-align: center;
    margin: 1em 0em .6em 0em;
}

.subtitle {
	font-family: 'Caudex', arial, serif;
    font-weight: normal;
	text-align: center;
}

.main {
	 float: left;
	 /*width:22em;*/
}

.sidebar {
	 float:left;
	 width: 60%;
	 margin-left: 2em;
	 /*width: 30em;*/
}

h1 {
	/*font-size: 20px;*/
	text-align: left;
}

h2 {
	
}

img#lab-logo-invisible {
	float: left;
	margin-left: 10px;
	visibility: hidden;
}

img#lab-logo {
    float: right;
    margin-right: 10px
}

div#analysis-container {
	margin-top: 10px;
}

img.plot {
    width: 20em; height: 20em; /* Set the small thumbnail size */
    -ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
    border: 1px solid #ddd;
    padding: 5px;
    background: #f0f0f0;
    position: relative;
    left: 0; top: 0;
    /*margin: 0 auto 1em auto;*/
    display: block;
}

img.plot:hover {
    background:url(thumb_bg.png) no-repeat center center;
}

#description-container {
	float: left;
	margin-top: 2em;
	clear: both;
}

