/*
 * The Topic Browser
 * Copyright 2010-2011 Brigham Young University
 *
 * This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.
 *
 * The Topic Browser is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * The Topic Browser is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.
 *
 * If you have inquiries regarding any further use of the Topic Browser, please
 * contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
 * Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
 */

/* Style specific to the home page (aka datasets page) */

@font-face {
  font-family: 'Caudex';
  font-style: normal;
  font-weight: 400;
  src: local('Caudex'), url('/site-media/fonts/caudex/Caudex-Regular.woff') format('woff');
}

h1 {
	font-style: normal;
	font-size: 50px;
	font-family: 'Caudex', arial, serif;
	font-weight: normal;
    text-align: center;
    margin: .2em 0em .6em 0em;
}

h2 {
	font-family: 'Caudex', arial, serif;
    font-weight: normal;
	text-align: center;
}

img#lab-logo-invisible {
	float: left;
	margin-left: 10px;
	visibility: hidden;
}

img#lab-logo {
    float: right;
    margin-right: 10px
}

div#analysis-container {
	margin-top: 10px;
}

ul.analyses {
	display: table-row;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    height: 140px;
    /*padding: 4px;*/
}

ul.analyses li {
	float: left;
	display: table-cell;
	position: relative;
    /*margin: 0;*/
    padding: 5px;
    margin: 4px;
}

ul.analyses li img {
    width: 150px; height: 150px; /* Set the small thumbnail size */
    -ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
    border: 1px solid #ddd;
    padding: 5px;
    background: #f0f0f0;
    position: relative;
    left: 0; top: 0;
}

ul.analyses li img.hover {
    background:url(thumb_bg.png) no-repeat center center;  /* Image used as background on hover effect */
    /*border: none;*/ /* Get rid of border on hover */
}