/*
 * The Topic Browser
 * Copyright 2010-2011 Brigham Young University
 *
 * This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.
 *
 * The Topic Browser is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * The Topic Browser is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.
 *
 * If you have inquiries regarding any further use of the Topic Browser, please
 * contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
 * Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
 */

/* Style specific to the home page (aka datasets page) */

/** Fonts **/
/** Masthead images **/
img.lab-logo {
	height: 80px;
	float: right;
    margin-right: 10px;
}

img.lab-logo.invisible {
    float: left;
    margin-left: 10px;
    visibility: hidden;
}

/** Headers **/
h1.title {
	font-style: normal;
	font-size: 48px;
	font-family: 'Caudex', arial, serif;
	font-weight: 400;
	color: #222;
    text-align: center;
    /*margin: 1em 0em .6em 0em;*/
    margin: 1em 0 0 0;
}

h2.subtitle {
	font-family: 'Caudex', arial, serif;
    font-weight: normal;
	text-align: center;
	margin-top: 0.2em;
}

h2:not(.subtitle) {
	font-size: 1em;
	margin-bottom: 0.2em;
}

/** Page Structure **/
div.main {
	float: left;
	width: 35%;
}

div.sidebar {
	float:left;
	width: 60%;
	margin-left: 5%;
}

div.description-container {
	float: left;
	clear: both;
	width: 100%;
}

.explore-wrapper {
	margin: 0 auto 1em auto;
	width: 100%;
}
button.explore {
	width: 100%;
}

/** Plots **/
img.plot {
	width: 96%;
	padding: 2%;
    -ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
    border: 1px solid #ddd;
    background: #f0f0f0;
}

img.plot:hover {
    background: #f3f3f3;
}
