g.root-node {
	fill: white;
	stroke: black;
	stroke-width: 4 !important;
	cursor: pointer;
}	

g.event-handler circle {
	cursor: pointer;
}

g.circle-node {
	stroke: black;
	stroke-width: 2;
	cursor: pointer;
}

g.leaf-node {
	stroke: black;
	stroke-width: 1;
	cursor: pointer;
}

g.topic-node circle {
	fill: #3BC600;
}

g.document-node circle {
	fill: #3366ee;
}

g.word-node circle {
	fill: #8e50f8;
}

g.c_text {
	pointer-events: none;
}

g.c_text text {
	font-family: sans;
	fill: white;
	font-weight: bold;
	text-anchor: middle;
}

g.c_text text tspan.back {
	stroke: #2C2B1C;
	stroke-width: 1; 
}


