
.axis text {
	fill: #000;
}

.axis .domain {
	opacity: 0;
}

.tick {
	stroke: #000;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 120px;
	height: 20px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px
	pointer-events: none;
}

