
/** CSS stuff **/

body {
  /*font: 10px sans-serif;*/
  margin-top: 40px;
  padding: 20px;
}

svg {
  border: 2px solid black;
  border-radius: 3px;
}

ul.nav li, ul.nav li a {
  outline: none;
}

#viz-picker a.dropdown-toggle {
  font-size: 20px;
}

#main {
  float: left;
  width: 720px;
}

#loading-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  padding: 2px;
  background-color: green;
  background-color: whiteSmoke;
  background-image: url('/site-media/images/ajax-loader.gif');
}

#refresh {
  background-color: whiteSmoke;
  padding: 2px 4px;
  border-radius: 5px;
}

#info {
  position: relative;
}

#right-bar {
  float: right;
  width: 210px;
}

#right-bar .bar-item {
  border: 1px solid #ddd;
  padding: 3px 7px;
  border-radius: 4px;
  padding-top: 14px;
  margin-bottom: 5px;
  min-height: 30px;
}

#controls {
  position: relative;
}

div.topleft-label {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #DDD;
  background-color: whiteSmoke;
  padding: 3px 7px;
  border-radius: 4px 0 4px 0;
  font-size: 12px;
  font-weight: bold;
}.

/*---------------------* 
 ****** SVG stuff ****** 
 *---------------------*/

/** zoom controls **/

g.zoom-out rect.bg,
g.zoom-in rect.bg {
  fill: white;
  stroke: black;
  stroke-width: 1;
}

g.zoom-in rect.cross,
g.zoom-out rect.cross {
  fill: black;
}

/** main stuff **/

.background {
    fill: white;
}

/** nodes **/

g.text {
  pointer-events: none; }

  g.text text {
    font-family: sans;
    fill: white;
    font-weight: bold;
    font-size: 4px;
    text-anchor: middle; }

  g.text text tspan.back {
    stroke: #2C2B1C;
    stroke-width: 1; }

g.node circle {
  fill: #3BC600;
  cursor: pointer;
  stroke: none; }

  g.node.highlighted-main circle {
    fill: #0064cd !important;
    stroke: #0064cd
    stroke-width: 3px; }

  g.node.highlighted circle {
    stroke: #0064cd;
    stroke-width: 2px; }

/** lines **/

line.link {
    stroke: #2C2B1C;
    stroke-opacity: .6; }

  line.link.highlighted {
    stroke-opacity: 1;
    stroke: black; }

/** chord diagram stuff **/

path.chord {
  stroke-width: .75;
  fill-opacity: .75;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
}

#circle:hover path.fade {
  display: none;
}

