
/** CSS stuff **/

body {
  /*font: 10px sans-serif;
  margin-top: 40px;
  padding: 20px;*/
}

svg {
  border: 2px solid black;
  border-radius: 3px;
}

ul.nav li, ul.nav li a {
  outline: none;
}

#viz-picker a.dropdown-toggle {
  font-size: 20px;
}

#main {
  float: left;
  width: 630px;
  position: relative;
}

.navbar-inner {
  position: relative;
}

#disable-main, #disable-nav, #disable-right {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  opacity: .5;
  border-radius: 3px;
  z-index: 1000;
}

#loading-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  padding: 2px;
  background-color: white;
  background-image: url('/site-media/images/ajax-loader.gif');
  border: 2px solid black;
  padding: 6px;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  display: none;
}

body.loading #loading-indicator {
  display: block;
}
body.loading #viz-menus {
}
body.loading #main > * {
}
body.loading #right-bar * {
}

#refresh {
  background-color: whiteSmoke;
  padding: 2px 4px;
  border-radius: 5px;
}

#info {
  position: relative;
}

#right-bar {
  position: relative;
  float: right;
  width: 300px;
  height: 630px;
  overflow-y: auto;
}

#right-bar .bar-item {
  border: 1px solid #ddd;
  padding: 3px 7px;
  border-radius: 4px;
  padding-top: 14px;
  margin-bottom: 5px;
  min-height: 30px;
}

#controls.bar-item {
  position: relative;
  padding-top: 30px;
}

div.viz-menu {
  display: none;
}

#info > div.topleft-label, #controls > div.topleft-label {
  display: block;
}

#info > div, #controls > div {
  display: none;
}

div.topleft-label {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #DDD;
  background-color: whiteSmoke;
  padding: 3px 7px;
  border-radius: 4px 0 4px 0;
  font-size: 12px;
  font-weight: bold;
}

/*---------------------* 
 ****** SVG stuff ****** 
 *---------------------*/

/** zoom controls **/

g.zoom-out rect.bg,
g.zoom-in rect.bg {
  fill: white;
  stroke: black;
  stroke-width: 1;
}

g.zoom-in rect.cross,
g.zoom-out rect.cross {
  fill: black;
}

/** main stuff **/

.background {
    fill: white;
}

/** nodes **/

g.text {
  pointer-events: none; }

  g.text text {
    font-family: sans;
    fill: white;
    font-weight: bold;
    font-size: 4px;
    text-anchor: middle; }

  g.text text tspan.back {
    stroke: #2C2B1C;
    stroke-width: 1; }

g.node circle {
  fill: #3BC600;
  cursor: pointer;
  stroke: none; }

  g.node.highlighted-main circle {
    fill: #0064cd !important;
    stroke: #0064cd
    stroke-width: 3px; }

  g.node.highlighted circle {
    stroke: #0064cd;
    stroke-width: 2px; }


g.c_node circle {

}

g.c_leaf circle {
  fill: #3BC600;
}

g.c_root circle {
  stroke: black;
  stroke-width: 5px;
  fill: white;
}

g.c_text {
  pointer-events: none; }

  g.c_text text {
    font-family: sans;
    fill: white;
    font-weight: bold;
    text-anchor: middle; }

  g.c_text text tspan.back {
    stroke: #2C2B1C;
    stroke-width: 1; }

/** lines **/

line.link {
    stroke: #2C2B1C;
    stroke-opacity: .6; }

  line.link.highlighted {
    stroke-opacity: 1;
    stroke: black; }

/** chord diagram stuff **/

g.group text {
  display: none;
}

g.group.hovering text, g.group:hover text {
  display: block;
}

text.chord-title {
  font-family: sans;
  fill: #2C2B1C;
  font-weight: bold;
  font-size: 15px;
  text-anchor: middle; }

text.chord-title tspan.back {
  stroke: white;
  stroke-width: 4; }

path.chord {
  stroke-width: .75;
  fill-opacity: .75;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
}

#circle:hover path.fade {
  display: none;
}

