.pydevproject
.settings
.project
*.pyc
*.swp
java/bin
.dbs
yamba
*.nfs*
*~
*.backup
*.directory
*.kilepr
datasets/
/Main.vim.sess
/tg.sqlite3
/topicalguide/settings.py
/working/
tg_models.png
/tools/stemmer/Snowball
/tooks/stemmer/stemmer
