.pydevproject
.settings
.project
*.pyc
__pycache__/
*.swp
java/bin
.dbs
yamba
*.nfs*
*~
*.backup
*.directory
*.kilepr
datasets/
/Main.vim.sess
/tg.sqlite3
/topicalguide.db
*.db
/topicalguide/settings.py
/working/
venv/
ENV/
logs/
