a.toggler {
    margin-left: auto;
    margin-right: auto;
    background: green;
    cursor: pointer;
    border-right-width: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
}

a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}
