{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% load custom_filters %}
<div class="widget" id="stats">
	<table class="widget-body centered">
		<tr>
			<th>
				Metric Name
			</th>
			<th>
				Value
			</th>
			<th>
				Average (across topics)
			</th>
		</tr>
		{% for metric in metrics %}
		<tr>
			<td>{{ metric.name }}</td>
			<td>{{ metric.value|formatmetric:"2" }}</td>
			<td>{{ metric.average|formatmetric:"2" }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
