{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

<div class="widget" id="top-words-in-context">
	<div class="widget-body">
		<table id="top_words_in_context_table" class="kwic">
			<col class="col1"/>
			<col class="col2"/>
			<col class="col3"/>
			<col class="col4"/>
			<col class="col5"/>

			{% comment %}These rows are placeholders for jQuery to insert row content into{% endcomment %}
			{% for word in words_in_context %}
			<tr id="id_{{ word.word }}"><td></td><td></td><td></td><td></td><td></td></tr>
			{% endfor %}
		</table>
	</div>
    <script type="text/javascript">
        $.fn.doc_base_url = "{{ doc_base_url }}";
        $.fn.word_base_url = "{{ word_base_url }}";
    </script>
	<script type="text/javascript"
		src="/site-media/topic_scripts/words_in_context.js">
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
		{% for word in words_in_context %}
			get_context_for_word("{{ word.word }}");
		{% endfor %}
		});
	</script>
</div>
