/*
 * The Topic Browser
 * Copyright 2010-2011 Brigham Young University
 *
 * This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.
 *
 * The Topic Browser is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * The Topic Browser is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.
 *
 * If you have inquiries regarding any further use of the Topic Browser, please
 * contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
 * Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
 */

/***** General Page Structure *****/
body {
	padding: 0px;
	margin: 0px;
}

#page {
	width: 100%;
}

#header {
	width: 100%;
	margin-bottom: 10px;
	clear: both;
}

#footer {
	padding-left: 40px;
	width: 100%;
	border-top: 1px solid gray;
	margin-top: 10px;
	clear: both;
	text-align: center;
}

#header, #footer {
	background-color:#99ccff;
}

ul.nav_menu {
	width: 100%;
	height: 27px;
	list-style-type: none;
	padding: 0px;
	display: table-row;
	/*left: 50%;*/
	position: relative;
}

ul.nav_menu li {
	height: 27px;
	line-height: 27px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px dashed gray;
	display: table-cell;
}

ul.nav_menu li#branding-logo {
	padding-left: 2px;
	padding-right: 2px;
}

ul.nav_menu li#branding-logo a img {
	height: 27px;
	border: 0px;
}

#main {
	width: 100%;
	clear: both;
}

#sidebar {
	float: left;
	height: 100%;
	max-width: 28%;
}

#presentation-area {
	margin-left: 15px;
	float: left;
	width: 70%;
	-moz-border-radius:5px;
}

/***** Tab Pane *****/
#tab_pane {
	/*empty-cells: show;
	cellspacing:0px;
	cellpadding:0px;*/
	padding:0px;
	margin:0px;
	border-spacing:0px;
}
.tab_row {
	margin-top:3px;
}

#tab_row_1 {
	padding-bottom:2px;
}
.tab_header {
	background-color:#749BC2;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:0px;
	border-left:1px solid black;
	border-right:1px solid black;
	border-top:1px solid black;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}
.tab_header:hover {
	background-color:#99ccff;
}
.fg {
	background-color:#99ccff;
}
.bg {
	border-bottom:1px solid black;
}

/***** Presentation Area *****/
#presentation-area-main-column {
	float: left;
	width: 60%;
}

#presentation-area-sidebar {
	margin-left: 30px;
	margin-right: 30px;
	float: left;
	width: 30%;
}

/***** List Navigation *****/
.list_nav {
	text-align:center;
	margin-bottom: 7px;
}

.list_nav_back_arrows {
	float: left;
	width: 100px;
	text-align: left;
}

.list_nav_fwd_arrows {
	float: right;
	width: 100px;
	text-align: right;
}

.nav_arrow {
	padding: 2px;
}

/***** Widgets *****/
.top-level-widget {

	margin: 12px;
	padding: 2px;
	border: 1px solid #4C3C1B;
	background-color: #99ccff;
}

.hidden{
	display: none;
}

.widget {
	/*display:table;*/
	/*width: inherit;*/
	padding: 2px;
	border: 1px solid #4C3C1B;
	background-color: #99ccff;
	margin: 12px;
}

.widget-header {
	text-align: center;
}

.widget-body {
	/*width: inherit;*/
	margin:2px;
	-moz-border-radius:5px;
	background-color:#ffffee;
}

.widget-body p {
    margin: 0px;
}

.barchart {
	/*width: 210px;*/
}

.barchart img {
	margin: 2px;
	border: 1px solid #4C3C1B;
}

.inherit {
	width: inherit;
}

.full-width {
	width: 100%;
}

table.kwic {
	width:100%;
	table-layout:fixed;
	/*Make cell borders run together instead of having gaps:*/
	border-collapse: collapse;
}


table.kwic .col1 {
    width: 25%;
}
table.kwic .col2 {
    width: 23%;
}
table.kwic .col3 {
    width: 23%;
}
table.kwic .col4 {
    width: 22%;
}
table.kwic .col5 {
    width: 5%;
}

table.kwic tr td {
	border-bottom: 1px solid #C1DAD7;
	padding-left: 10px;
	padding-right: 0px;
}

table.kwic tr td.doc-name {
	word-wrap:break-word;
}



#topic-map-svg {
    width: 100%;
    height: 500px;
}

/***** Document View *****/
h1.document-title {
    text-align: center;
}

/***** General *****/
table.above_inset th {
	font-weight:normal;
}


a:link, a:visited, td.remove, .link, .clickable_text {
	color:#000F3E;
	text-decoration:none;
}

td.remove:hover, .link:hover, .clickable_text:hover {
	cursor:pointer;
}

a:hover {
	color:#0033D5;
}
a:hover span {
	color:#0033D5;
}

.sidebar_base {
	padding:10px;
	background-color:#99ccff;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
}

.inset {
	width:100%;
	padding:2px;
	-moz-border-radius:5px;
	background-color:#ffffee;
}

table.inset-small {
	padding:2px;
	-moz-border-radius:5px;
	background-color:#ffffee;
}

table.above_inset {
	width:100%;
	padding:2px;
	-moz-border-radius:5px;
}

td.align-top {
	vertical-align:top;
}


/***** Lists *****/
.highlight {
	-moz-border-radius:5px;
	background-color:#FFCC00;
	text-align:center;
}

.list {
	-moz-border-radius:5px;
	padding-left: 0;
	margin-left: 0;
}

.list .header {
    font-weight: bold;
}

.list li {
    list-style: none;
    margin: 0;
    padding: 0.25em;
    word-wrap:break-word;
}

.list li a { text-decoration: none; }

.list li .value {
	float: right;
	margin-left: 20px;
}

.list li .header {
	font-weight: bold;
}

th {
	/*text-align:left;*/
}
td.word {
	font-size:larger;
	text-align:center;
	font-weight:bold;
}
.right-align {
	text-align:right;
}
.left-align {
	text-align:left;
}
.centered {
	text-align: center;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
label {
	font-weight:normal;
}
