{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

<html>
<head><title>Topic Visualizer</title>
<link rel="shortcut icon" href="/site-media/byunlp-135px.png" />
<script type="text/javascript" src="/site-media/jquery-1.4.2.min.js"></script>
<link rel="stylesheet" title="default" href="/site-media/style.css" type="text/css" />
{% block scripts %}
{% endblock %}

</head>
<body>
	<table>

		<!-- Header -->
		<tr>
			<td>
				<a href="http://nlp.cs.byu.edu/">
					<img src="/site-media/byunlp-135px.png" height="100" width="100" border="0"/>
				</a>
			</td>
			<td>
				<h1>Topical Guide</h1>
			</td>
		</tr>

		<tr>

		<td class="align-top" colspan=2>
			<table>
				<tr><td class="presentation_area">
					<table>
							<tr>
							<td class="align-top"  width="50%">
							<table>
							
								<tr>
									<td class="align-top">Project Leaders
										<table class="inset">
											<tr><td>Eric Ringger</td></tr>
											<tr><td>Kevin Seppi</td></tr>
										</table>
									</td>
								</tr>
							
								<tr>
									<td class="align-top">Project Members
										<table class="inset">
											<tr><td>Joshua Lutes</td></tr>
											<tr><td>Matt Gardner</td></tr>
											<tr><td>Dan Walker</td></tr>
											<tr><td>Jeff Lund</td></tr>
											<tr><td>Josh Hansen</td></tr>
											<tr><td>Carl Christensen</td></tr>
										</table>
									</td>
								</tr>
								
								<tr>
									<td class="align-top">Funding Sources
										<table class="inset">
											<tr><td>
												BYU CS NLP Lab
												<pre>	<a href="http://nlp.cs.byu.edu/" rel="nofollow">http://nlp.cs.byu.edu/</a></pre>
											</td></tr>
											<tr><td>
												BYU Office of the Vice President
												<pre>	<a href="http://avp.byu.edu/" rel="nofollow">http://avp.byu.edu/</a></pre>
											</td></tr>
										</table>
									</td>
								</tr>
								
								<tr>
									<td class="align-top">Project Dependencies
										<table class="inset">
											<tr><td>
												MAchine Learning for LanguagE Toolkit
												<pre>	McCallum, Andrew Kachites.  "MALLET: A Machine Learning for Language Toolkit."
		<a href="http://mallet.cs.umass.edu" rel="nofollow">http://mallet.cs.umass.edu</a>. 2002.</pre>
											</td></tr>
											<tr><td>
												Python 2.6.5
												<pre>	<a href="http://www.python.org" rel="nofollow">http://www.python.org</a></pre>
											</td></tr>
											<tr><td>
												Django 1.2.1
												<pre>	<a href="http://www.djangoproject.com" rel="nofollow">http://www.djangoproject.com</a></pre>
											</td></tr>
											<tr><td>
												Matplotlib
												<pre>	<a href="http://matplotlib.sourceforge.net/" rel="nofollow">http://matplotlib.sourceforge.net/</a></pre>
											</td></tr>
										</table>
									</td>
								</tr>
								
								<tr>
									<td class="align-top">Citation
										<table class="inset">
											<tr><td>
												Feel free to use this project, but please acknowledge its use with a citation:
												<pre>	[citation needed]</pre>
											</td></tr>
										</table>
									</td>
								</tr>
								
							</table>
							</td>
						</tr>
					</table>
				</td></tr>
			</table>
		</td>

		</tr>
	</table>
</body>
</html>
