{% extends "core/main_application.html" %}
{% comment %}
The Topical Guide
Copyright 2010-2011 Brigham Young University

This file is part of the Topical Guide <http://nlp.cs.byu.edu/topic_browser>.

The Topical Guide is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topical Guide is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topical Guide.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topical Guide, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{{STYLES}}/attributes.css" type="text/css" />
{% endblock %}

{% block scripts %}
    {{block.super}}
    <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/attributes.js"></script>
    <script charset="utf-8" type="text/javascript">
        $.fn.attribute = "{{attribute.name}}";
        $.fn.attrvalue = "{{value.value}}";
    </script>
{% endblock %}

{% block document_ready_script %}
    {{block.super}}
    get_page({{page_num}});
{% endblock %}

{% block above_sidebar %}
<div id="attributes">
    <h1>Attributes</h1>
    <ul id="attributes-list" class="vertical">
        {% for a in attributes %}
            <li {% ifequal attribute a %}class="selected"{% endifequal %}>
                <a href="{{ attributes_url}}/{{a.name}}">
                    {{a.name}}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block sidebar-list-nav %}<h1>Values</h1>{{block.super}}{% endblock %}

{# We aren't ready for a fav-this button here yet #}
{% block fav-this-button %}{% endblock %}