{% extends "base.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block before_presentation_area %}
<div id="sidebar">
    <div id="tab_pane">
        <div id="tab_row_1" class="tab_row">
            <span id="datasets_tab_header" class="tab_header {% ifequal highlight "datasets_tab" %}fg{% else %}bg{% endifequal %}">
                <a href="/datasets/{{ dataset }}/analyses/{{ analysis }}">Datasets</a>
            </span>
            <span id="attributes_tab_header" class="tab_header {% ifequal highlight "attributes_tab" %}fg{% else %}bg{% endifequal %}">
                <a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/attributes/">Attributes</a>
            </span>
            <span id="favorites_tab_header" class="tab_header {% ifequal highlight "favorite_tab" %}fg{% else %}bg{% endifequal %}">
                <a href="/favorite/datasets/{{ dataset }}/analyses/{{ analysis }}/id/{{ favorite.id }}">Favorites</a>
            </span>
        </div>
        <div id="tab_row_2" class="tab_row">
            <span id="words_tab_header" class="tab_header {% ifequal highlight "words_tab" %}fg{% else %}bg{% endifequal %}">
                <a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/words/">Words</a>
            </span>
            <span id="topics_tab_header" class="tab_header {% ifequal highlight "topics_tab" %}fg{% else %}bg{% endifequal %}">
                <a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/topics/">Topics</a>
            </span>
            <span id="documents_tab_header" class="tab_header {% ifequal highlight "documents_tab" %}fg{% else %}bg{% endifequal %}">
                <a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/documents/">Documents</a>
            </span>
            
            <span id="plots_tab_header" class="tab_header {% ifequal highlight "plots_tab" %}fg{% else %}bg{% endifequal %}">
                <a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/plots/">Plots</a>
            </span>
        </div>
        <div id="tab_content_area" class="sidebar_base">
            <div id="sidebar_tab_panel_header">
                {% block above_sidebar%}
                {% endblock %}
                </div>
                <div id="sidebar_tab_panel_body">
                {% block sidebar %}
                    Options!
                {% endblock %}
                </div>
                <div id="sidebar_tab_panel_footer">
                {% block sidebar_tab_panel_footer%}
                {% endblock %}
            </div>
        </div>
    </div>
</div><!-- end div sidebar -->
{% endblock %}