{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head><title>Topic Browser</title>
		<link rel="shortcut icon" href="/site-media/byunlp-135px.png" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/site-media/cursor.js"></script>
		<script type="text/javascript" src="/site-media/name-scheme.js"></script>
        <script type="text/javascript">
            $("a.new-window[href]").live(
                "click",
                function(event)
                {
                    window.open($(this).attr("href"));
                    event.preventDefault();
                }
            );
        </script>
        <script type="text/javascript">
            $.fn.dataset = "{{ dataset }}";
            $.fn.analysis = "{{ analysis }}";
            $.fn.dataset_url = "{{ dataset_url }}";
            $.fn.analysis_url = "{{ analysis_url }}";
            $.fn.attributes_url = "{{ attributes_url }}";
            $.fn.documents_url = "{{ documents_url }}";
            $.fn.plots_url = "{{ plots_url }}";
            $.fn.topics_url = "{{ topics_url }}";
            $.fn.words_url = "{{ words_url }}";
        </script>
		<link rel="stylesheet" href="/site-media/style.css" type="text/css" />
		<link rel="stylesheet" href="/site-media/cupertino/jquery-ui-1.8.11.custom.css" type="text/css" />

		{% block scripts %}
		{% endblock %}

		<script type="text/javascript">
			function add_favorite(){
				{% for item in breadcrumb %}
					{% if forloop.last %}
						var url = "{{ item.url }}";
					{% endif %}
				{% endfor %}
				var link = "/feeds/add_favorite/tab/{{tab}}?url="+encodeURIComponent(url);
				$.get(link);
			}
		</script>
	</head>
	<body>
		<div id="page">
			<div id="header">
				<ul class="nav_menu">
					<li id="branding-logo">
						<a href="http://nlp.cs.byu.edu/" class="new-window">
							<img src="/site-media/byunlp-35px.png" alt="BYU NLP Lab Logo"/>
						</a>
					</li>
					<li id="branding-title-text">
						<a href="https://facwiki.cs.byu.edu/nlp/index.php/Topical_Guide" class="new-window">The Topical Guide</a>
					</li>
					{% for item in breadcrumb %}
						<li><a href="{{ item.url }}">{{ item.text }}</a></li>
					{% endfor %}
					<li id="namescheme-dropdown">
						Topic Name Scheme: <select name="namescheme" id="namescheme-dropdown-select" onchange="set_name_scheme()">
						{% for namescheme in nameschemes %}
						<option value="{{ namescheme.id }}"{% ifequal namescheme.id currentnamescheme.id%} selected="selected"{% endifequal %}>{{namescheme.name}}</option>
						{% endfor %}
						</select>
					</li>
					<li>
						{% if breadcrumb %}
							Favorites: 
							<button type="button" onclick="add_favorite();">Add</button>
						{% endif %}
					</li>
				</ul>
			</div><!-- end div header -->
			<div id="main">
				<div id="sidebar">
					<div id="tab_pane">
						<div id="tab_row_1" class="tab_row">
							<span id="datasets_tab_header" class="tab_header {% ifequal highlight "datasets_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}">Datasets</a>
							</span>
							<span id="attributes_tab_header" class="tab_header {% ifequal highlight "attributes_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/attributes/">Attributes</a>
							</span>
							<span id="favorites_tab_header" class="tab_header {% ifequal highlight "favorite_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/favorite/datasets/{{ dataset }}/analyses/{{ analysis }}/id/{{ favorite.id }}">Favorites</a>
							</span>
						</div>
						<div id="tab_row_2" class="tab_row">
							<span id="words_tab_header" class="tab_header {% ifequal highlight "words_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/words/">Words</a>
							</span>
							<span id="topics_tab_header" class="tab_header {% ifequal highlight "topics_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/topics/">Topics</a>
							</span>
							<span id="documents_tab_header" class="tab_header {% ifequal highlight "documents_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/documents/">Documents</a>
							</span>
							
							<span id="plots_tab_header" class="tab_header {% ifequal highlight "plots_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/plots/">Plots</a>
							</span>
						</div>
						<div id="tab_content_area" class="sidebar_base">
							<div id="sidebar_tab_panel_header">
								{% block above_sidebar%}
								{% endblock %}
								</div>
								<div id="sidebar_tab_panel_body">
								{% block sidebar %}
									Options!
								{% endblock %}
								</div>
								<div id="sidebar_tab_panel_footer">
								{% block sidebar_tab_panel_footer%}
								{% endblock %}
							</div>
						</div>
					</div>
				</div><!-- end div sidebar -->
				<div id="presentation-area">
					{% block presentation_area %}
					You should see something here.
					{% endblock %}
				</div><!-- end div presentation-area -->
			</div><!-- end div main -->
			<div id="footer">
				<ul class="nav_menu">
					<li><a href="http://nlp.cs.byu.edu/topicalguide" class="new-window">The Topical Guide</a></li>
					<li>Copyright 2010-2011 <a href="http://www.byu.edu/" class="new-window">Brigham Young University</a></li>
					<li>Developed by <a href="http://nlp.cs.byu.edu/">the BYU Natural Language Processing Lab</a></li>
				</ul>
			</div><!-- end div footer -->
		</div><!-- end div page -->
	</body>
</html>
