{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

<html>
	<head><title>Topic Browser</title>
		<link rel="shortcut icon" href="/site-media/byunlp-135px.png" />
		<script type="text/javascript" src="/site-media/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/site-media/cursor.js"></script>
		<script type="text/javascript" src="/site-media/name-scheme.js"></script>
		<link rel="stylesheet" title="default" href="/site-media/style.css" type="text/css" />
		
		{% block scripts %}
		{% endblock %}
		
		<script charset="utf=8" type="text/javascript">
			function add_favorite(){
				{% for item in breadcrumb %}
					{% if forloop.last %}
						var url = "{{ item.url }}";
					{% endif %}
				{% endfor %}
				var link = "/feeds/add_favorite?url="+encodeURIComponent(url);
				$.get(link);
			}
		</script>
	</head>
	<body>
		<div id="page">
			<div id="banner"></div>
			<div id="main">
				<div id="sidebar">
					<div id="branding">
						<span class="branding-logo">
							<a href="http://nlp.cs.byu.edu/">
								<img src="/site-media/byunlp-135px.png" height="100" width="100" border="0"/>
							</a>
						</span>
						<span class="branding-title-text">
							<a href="/about/" target="_blank">Topic Browser</a>
						</span>
					</div><!-- end div branding -->
					<div id="tab_pane">
						<div id="tab_row_1" class="tab_row">
							<span id="datasets_tab_header" class="tab_header {% ifequal highlight "datasets_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}">Datasets</a>
							</span>
							<span id="attributes_tab_header" class="tab_header {% ifequal highlight "attributes_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/attributes/">Attributes</a>
							</span>
							<span id="favorites_tab_header" class="tab_header {% ifequal highlight "favorite_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/favorite/datasets/{{ dataset }}/analyses/{{ analysis }}">Favorites</a>
							</span>
						</div>
						<div id="tab_row_2" class="tab_row">
							<span id="words_tab_header" class="tab_header {% ifequal highlight "words_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/words/">Words</a>
							</span>
							<span id="topics_tab_header" class="tab_header {% ifequal highlight "topics_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/topics/">Topics</a>
							</span>
							<span id="documents_tab_header" class="tab_header {% ifequal highlight "documents_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/documents/">Documents</a>
							</span>
							
							<span id="plots_tab_header" class="tab_header {% ifequal highlight "plots_tab" %}fg{% else %}bg{% endifequal %}">
								<a href="/datasets/{{ dataset }}/analyses/{{ analysis }}/plots/">Plots</a>
							</span>
						</div>
						<div id="tab_content_area" class="sidebar_base">
							<div id="sidebar_tab_panel_header">
								{% block above_sidebar%}
								{% endblock %}
								</div>
								<div id="sidebar_tab_panel_body">
								{% block sidebar %}
									Options!
								{% endblock %}
								</div>
								<div id="sidebar_tab_panel_footer">
								{% block sidebar_tab_panel_footer%}
								{% endblock %}
							</div>
						</div>
					</div>
				</div><!-- end div sidebar -->
				<div id="information-area">
					<div id="header">
						<span id="breadcrumb">
							{% for item in breadcrumb %}
							<a href="{{ item.url }}">{{ item.text }}</a>
							{% if not forloop.last %} / {% endif %}
							{% endfor %}
							{% if breadcrumb %}
								<button type="button" onclick="add_favorite();">Add to Favorites</button>
							{% endif %}
						</span>
						<div id="namescheme-dropdown">
							Topic Name Scheme: <select name="namescheme" id="namescheme-dropdown-select" onchange="set_name_scheme()">
							{% for namescheme in nameschemes %}
							<option value="{{ namescheme.id }}"{% ifequal namescheme.id currentnamescheme.id%} selected="selected"{% endifequal %}>{{namescheme.name}}</option>
							{% endfor %}
							</select>
						</span>
					</div>
					<div id="presentation-area">
								{% block presentation_area %}
								You should see something here.
								{% endblock %}
					</div>
				</div><!-- end div information-area -->
			</div><!-- end div main -->
			<div id="footer">
				<a href="/about/" target="_blank">More about Topic Browser</a>
			</div><!-- end div footer -->
		</div><!-- end div page -->
	</body>
</html>
