{% extends "core/main_application.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{{STYLES}}/documents.css" type="text/css" />
{% endblock %}

{% block scripts %}
    {{block.super}}
	
    <script charset="utf-8" type="text/javascript"
        src="{{SCRIPTS}}/documents/documents.js">
    </script>
    <script charset="utf-8" type="text/javascript"
        src="{{SCRIPTS}}/documents/filters.js">
    </script>
    <script charset="utf-8" type="text/javascript">
        $.fn.document_url = "{{ document_url }}";
        $.fn.doc = function () {};
        $.fn.doc.id = {{ document.id }};
    </script>
{% endblock %}

{% block document_ready_script %}
    {{block.super}}
    get_page({{ page_num }});
{% endblock %}

{% block above_sidebar %}
    <h1>Filters</h1>
	<table class="filters">
		<tbody>
			{{ filter|safe }}
		</tbody>
	</table>
	
	{{sort_form.as_p}}
{% endblock %}
