{% extends "base.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">
    $.fn.document_url = "{{ document_url }}";
	$.fn.doc_vars = function () {};
	$.fn.doc_vars.curdocument_id = {{ curdocument.id }};
</script>
{% endblock %}

{% block above_sidebar %}
	<script charset="utf-8" type="text/javascript"
		src="/site-media/document_scripts/filters.js">
	</script>
	<table class="above_inset">
		{{ sort_form }}
		<tr><td>Filters</td><td colspan=4><hr></td></tr>
		<tbody id="id_filter_form">
			{{ filter|safe }}
		</tbody>
	</table>
{% endblock %}
	
{% block sidebar %}
	<script charset="utf-8" type="text/javascript"
		src="/site-media/common_scripts/sidebar.js">
	</script>
	<script charset="utf-8" type="text/javascript"
		src="/site-media/document_scripts/sidebar.js">
	</script>
	
	<div id="documents_list" class="inset"></div>
	<script charset="utf=8" type="text/javascript">
		$(document).ready(function () {
			get_document_page({{ page_num }});
		});
	</script>
{% endblock %}

{% block presentation_area %}
    <div id="presentation-area-main-column">
        <h1 class="document-title">{{ document_title }}</h1>
        {% include "document_widgets/document_text.html" %}
    </div>
	<div id="presentation-area-sidebar">
		{% if metrics %}
		{% include "document_widgets/stats.html" %}
		{% endif %}
		{% include "document_widgets/top_topics.html" %}
		{% if similar_documents %}
		{% include "document_widgets/similar_documents.html" %}
		{% endif %}
	</div>
{% endblock %}
