{% extends "core/main_application.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{{STYLES}}/document.css" type="text/css" />
{% endblock %}

{% block scripts %}
    {{block.super}}
	
    <script charset="utf-8" type="text/javascript"
        src="{{SCRIPTS}}/documents/documents.js">
    </script>
    <script charset="utf-8" type="text/javascript"
        src="{{SCRIPTS}}/documents/filters.js">
    </script>
    <script charset="utf-8" type="text/javascript">
        $.fn.document_url = "{{ document_url }}";
        $.fn.doc_vars = function () {};
        $.fn.doc_vars.document_id = {{ document.id }};
        
        $(document).ready(function () {
            get_page({{ page_num }});
        });
    </script>
{% endblock %}

{% block above_sidebar %}
    
    <h1>Filters</h1>
	<table class="filters">
		<tbody>
			{{ filter|safe }}
		</tbody>
	</table>
	
	{{sort_form.as_p}}
{% endblock %}

{% block sidebar %}
    {{block.super}}
	<ul id="documents-list" class="vertical"></ul>
{% endblock %}

{% block presentation_area %}
	<div class="tabs">
		<ul>
			{% for top_level_widget in top_level_widgets %}
			<li class="top-level">
			    <a href="#tabs-{{forloop.counter}}">
				{{ top_level_widget.title }}
				</a>
			</li>
			{% endfor %}
		</ul>
		{% for top_level_widget in top_level_widgets %}
		    <div id="tabs-{{forloop.counter}}">
			{% if top_level_widget.top_level %}
				<div class="lower-tabs" id="{{top_level_widget.ref}}-tabs">
					<ul>
						{% for widget in top_level_widget.widgets %}
						<li class="lower-level"><a href="#{{top_level_widget.ref}}-tabs-{{forloop.counter}}">{{ widget.title }}</a></li>
						{% endfor %}
					</ul>
					{% for widget in top_level_widget.widgets %}
					<div id="{{top_level_widget.ref}}-tabs-{{forloop.counter}}">
						{% include widget.url %}
					</div>
					{% endfor %}
				</div>
			{% else %}
			    {% include top_level_widget.url %}
			{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
