{% extends "bootstrap/bootstrap.html" %}

{% block css %}
<link href="/styles/fancy.css" rel="stylesheet">
{% endblock %}

{% block headtitle %}Topic Chord Diagrams{% endblock %}
{% block bodytitle %}Topic Chord Diagrams{% endblock %}
{% block nav-title %}Topical Guide{% endblock %}

{% block container %}

<div id="main">
</div>
{% endblock %}

{% block endjs %}

<script src="/scripts/libs/d3.v3.min.js"></script>
<script>
var URLS = {
  'pairwise': '{% url ajax-all-topics-pairwise dataset=dataset_name analysis=analysis_name measure="document correlation" %}',
};
</script>
<script src="/scripts/charts/chords.js"></script>

{% endblock %}
