{% extends "bootstrap/bootstrap.html" %}

{% block css %}
<link href="/styles/fancy.css" rel="stylesheet">
{% endblock %}

{% block headtitle %}Topic Chord Diagrams{% endblock %}
{% block bodytitle %}Topic Chord Diagrams{% endblock %}
{% block nav-title %}Topical Guide{% endblock %}

{% block container %}
<div id="vis-navbar" class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand">Visualizations</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown" id="viz-picker">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span>Visualization</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="#">Hi</a></li>
              <li><button type="button" class="btn btn-primary">ho</button></li>
            </ul>
          </li>
          <li class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-primary active">
              Topics
            </button>
            <button type="button" class="btn btn-primary">
              Documents
            </button>
          </li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="main">
  <div id="force-topics">
  </div>
</div>
{% endblock %}

{% block endjs %}

<script src="/scripts/libs/d3.v3.min.js"></script>
<script>
var URLS = {
  'pairwise': '{% url ajax-all-topics-pairwise dataset=dataset_name analysis=analysis_name measure="document correlation" %}',
};
</script>
<script src="/scripts/charts/visualization.js"></script>
<script src="/scripts/charts/chords.js"></script>
<script src="/scripts/charts/main.js"></script>

{% endblock %}
