{% extends "core/main_application.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block scripts %}
    {{block.super}}
    <script charset="utf-8" type="text/javascript">
	    $.fn.attr_vars = function () {};
	    $.fn.attr_vars.curr_favorite = "{{ curr_favorite.id }}";
	    $.fn.attr_vars.dataset = "{{ dataset }}";
	    $.fn.attr_vars.analysis = "{{ analysis }}";
    </script>
    <script charset="utf-8" type="text/javascript">
	    function recall_favorite(){
	        var link = "/feeds/recall_favorite/id/{{ curr_favorite.id }}"
	        window.location = link
	    }
    </script>
    <script charset="utf-8" type="text/javascript"
        src="{{SCRIPTS}}/favorites/sidebar.js">
    </script>
{% endblock %}

{% block sidebar %}
    <div id="favorites_list" class="inset"></div>
    <script charset="utf=8" type="text/javascript">
        $(document).ready(function () {
            get_favorite_page({{ page_num }});
        });
    </script>
{% endblock %}

{% block presentation_area %}
    {% if curr_favorite %}
        <table>
            <tr><td>Id: {{ curr_favorite.id }}</td></tr>
            <tr><td>Tab: {{ curr_favorite.tab }}</td></tr>
            <tr><td>Url: {{ curr_favorite.url }}</td></tr>
            <tr><td>
                <input type=button onclick="recall_favorite();" value='Recall Favorite'>
            </td></tr>
        </table>
    {% endif %}
{% endblock %}