{% extends "base_with_sidebar.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block sidebar %}
	<div id="plots_list" class="inset">
		<ul class="list centered">
			{% for p in plots %}
			<li class="list{% ifequal p plot %} highlight{% endifequal %}">
				<a href="{{ plots_url }}/{{ p }}">{{ p }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block presentation_area %}
<table>
	<tr>
		<td class="align-top">Specifications
			<table class="inset">
				<tr>
					<td>
						  {{ plot_form }}
					</td>
				</tr>
			</table>
		</td>
		<td class="align-top">Plot
			<table class="inset">
				<tr>
					<td><img name="plot_image" id="plot_image" src="{{ chart_address }}"/></td>
				</tr>
			</table>
			<!--  These currently don't work...
			Topics
			<table class="inset">
				<tr>
				{% for link, name in topic_links %}
					<tr><td><a href="{{ link }}">{{ name }}</a></td></tr>
				{% endfor %}
				</tr>
			</table>
			Attribute Values
			<table class="inset">
				<tr>
				{% for link, name in attr_links %}
					<tr><td><a href="{{ link }}">{{ name }}</a></td></tr>
				{% endfor %}
				</tr>
			</table>			
			-->
		</td>
	</tr>
</table>

<script charset="utf=8" type="text/javascript">
	{{ update_function }}
</script>

{% endblock %}

{% block scripts %}

<script charset="utf=8" type="text/javascript">
function numerical_sort_function(a,b) {
  return (a - b)
}

function set_loading_image() {
	$("img#plot_image").attr("src", "{{ chart_address }}");
}

function highlight_all_topic_attribute_values(refresh) {
	$("select#id_values").each(function() {
		$("select#id_values option").attr("selected", true);
		});
	if(refresh) {
		update_topic_attribute_plot()
	}
}
function update_topic_attribute_plot() {
	set_loading_image();
	var url_base = "/feeds/topic-attribute-plot/";
	attribute = $("select#id_attribute").val();
	url_base += 'attributes/'+attribute+'/';
	
	if ($("select#id_topics").val() == null) {
		$("select#id_topics option:first").attr("selected", true);
	}
	if ($("select#id_values").val() == null) {
		highlight_all_topic_attribute_values(0);
	}
   
    // Now get selected values and make a list of them 
    var selected = $("select#id_values").val();
	selected = selected.sort(numerical_sort_function);
	url_base += "values/" + selected[0];
	for (var i = 1; i < selected.length; i++) {
		url_base += "." + selected[i];
	}
    url_base += "/topics";

    // Now get selected topics and make a list of them 
    var selected = $("select#id_topics").val()
	url_base += '/';
	selected = selected.sort(numerical_sort_function)
	url_base += selected[0];
	for (var i = 1; i < selected.length; i++) {
		url_base += "." + selected[i];
	}
	var added_query = false;
    if ($('#id_by_frequency:checked').val() != null) {
		url_base += "?frequency=true";
		added_query = true;
    }
    if ($('#id_histogram:checked').val() != null) {
		if (!added_query) {
			url_base += '?';
		} else {
			url_base += '&';
		}
		url_base += "histogram=true";
    }
    // When  the URL is ready, change the source of the
    // image to point to the correct one
    $("img#plot_image").attr("src", url_base);
}

function update_attribute_values(){
	attribute = $("select#id_attribute").val();
	$.getJSON("/feeds/attribute-values/datasets/{{ dataset }}/attributes/"
			+ attribute, {}, function(j) {
		var options = '';
		for (var i = 0; i < j.length; i++) {
			options += '<option value = "' + j[i][0] + '" selected="true">' +
			j[i][1] + '</option>';
		}
		$("#id_values").html(options);
		update_topic_attribute_plot();
    })
}

function update_topic_metric_plot() {
	set_loading_image();
	var url_base = "/feeds/topic-metric-plot/datasets/{{ dataset }}/analyses/"+
		"{{ analysis }}/metrics/";
	first_metric = $("select#id_first_metric").val();
	url_base += first_metric;
	url_base += '.';
	second_metric = $("select#id_second_metric").val();
	url_base += second_metric;
    if ($('#id_linear_fit:checked').val() != null) {
		url_base += "?linear_fit=true";
    }

    // When  the URL is ready, change the source of the
    // image to point to the correct one
    $("img#plot_image").attr("src", url_base);
}
</script>
{% endblock %}
