{% extends "base_with_sidebar.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block scripts %}
    {{block.super}}
	<script charset="utf=8" type="text/javascript" src="/site-media/scripts/plots.js"></script>
	<script charset="utf-8" type="text/javascript">
		function set_loading_image() {
		    $("img#plot_image").attr("src", "/site-media/images/ajax-loader.gif");
		}
	</script>
{% endblock %}

{% block sidebar %}
	<div id="plots_list" class="inset">
		<ul class="list centered">
			{% for p in plots %}
			<li class="list{% ifequal p plot %} highlight{% endifequal %}">
				<a href="{{ plots_url }}/{{ p }}">{{ p }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block presentation_area %}
<table>
	<tr>
		<td class="align-top">Specifications
			<table class="inset">
				<tr>
					<td>
						  {{ plot_form }}
					</td>
				</tr>
			</table>
		</td>
		<td class="align-top">Plot
			<table class="inset">
				<tr>
					<td><img name="plot_image" id="plot_image" src="{{ chart_address }}"/></td>
				</tr>
			</table>
			{%comment%} These currently don't work:
			Topics
			<table class="inset">
				<tr>
				{% for link, name in topic_links %}
					<tr><td><a href="{{ link }}">{{ name }}</a></td></tr>
				{% endfor %}
				</tr>
			</table>
			Attribute Values
			<table class="inset">
				<tr>
				{% for link, name in attr_links %}
					<tr><td><a href="{{ link }}">{{ name }}</a></td></tr>
				{% endfor %}
				</tr>
			</table>			
			{% endcomment %}
		</td>
	</tr>
</table>

<script charset="utf=8" type="text/javascript">
    {# Weird method call using name of function from a context variable #}
	{{update_function}}("{{dataset}}","{{analysis}}");
</script>

{% endblock %}


