{% extends "core/main_application.html" %}
{% comment %}
The Topical Guide
Copyright 2010-2011 Brigham Young University

This file is part of the Topical Guide <http://nlp.cs.byu.edu/topic_browser>.

The Topical Guide is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topical Guide is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topical Guide.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topical Guide, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{{STYLES}}/plot.css" type="text/css" />
    <link rel="stylesheet" href="{{SCRIPTS}}/charts/jqplot/css/jquery.jqplot.min.css" type="text/css" />
{% endblock %}

{% block scripts %}
    {{block.super}}
	<script charset="utf=8" language="javascript" type="text/javascript" src="{{SCRIPTS}}/charts/jqplot/js/jquery.jqplot.min.js"></script>	
	<script charset="utf=8" language="javascript" type="text/javascript" src="{{SCRIPTS}}/charts/jqplot/plugins/jqplot.cursor.js"></script>	
	<script charset="utf=8" language="javascript" type="text/javascript" src="{{SCRIPTS}}/charts/jqplot/plugins/jqplot.highlighter.js"></script>
	<script charset="utf=8" type="text/javascript" src="{{SCRIPTS}}/charts/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script charset="utf=8" type="text/javascript" src="{{SCRIPTS}}/charts/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
	<script charset="utf=8" type="text/javascript" src="{{SCRIPTS}}/charts/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
	<script charset="utf=8" type="text/javascript" src="{{SCRIPTS}}/charts/jqplot/plugins/jqplot.barRenderer.min.js"></script>
	<script charset="utf=8" type="text/javascript" src="{{SCRIPTS}}/charts/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
	
	<script charset="utf=8" type="text/javascript" src="{{SCRIPTS}}/plots.js"></script>
	<script charset="utf-8" type="text/javascript">
		function set_loading_image() {
		    $("img#plot_image").attr("src", "{{IMAGES}}/ajax-loader.gif");
		}
		$(document).ready(function() {
			$(window).resize(function() {
				update_plot();		
			});	
		});
			
	</script>
	
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{SCRIPTS}}/charts/jqplot/js/excanvas.min.js"></script><![endif]-->	
{% endblock %}

{% block fav-this-button %}{% endblock %}

{% block sidebar %}
	<div id="accordion">
	   {% for plot_name,plot_form in plot_forms %}
	       <div><a>{{plot_name}}</a></div>
	       <div>{{plot_form.as_ul}}</div>
	   {% endfor %}
	</div>
{% endblock %}

{% block presentation_area %}
<div class="ui-widget">
    <div class="ui-widget-header ui-corner-all">Title</div>
    <div class="ui-widget-content ui-corner-all">
        <div id="jqplot_container">
		<div id="jqplot"></div>
		<span id="jqplot_info"></span>
        </div>
    </div>
    <div class="ui-widget-content ui-corner-all">
        <a name="csv_data" id="csv_data" href="{{ csv_address }}">
            <button type="button">Export Data</button>
        </a>
    </div>
</div>
     
<script charset="utf=8" type="text/javascript">
    $("#accordion").accordion({ collapsible: true })
    
    {% comment %}
        Grab the class of the form controls and apply it to the labels. This
        allows us to style things as we please. The class of the form control
        elements is set within the form classes (e.g. TopicAttributePlotForm)
    {% endcomment %}
    $("#accordion div.ui-accordion-content li").each(function(){
    	var li = $(this);
    	li.addClass("ui-widget-content");
    	var fields = li.find("select,input");
    	
    	fields.each(function(){
	         var me = $(this)
	         
	         me.parent().children("label").each(function(){
	             $(this).addClass(me.attr('class'));
	         });
         });
    });
    
    {# Weird method call using name of function from a context variable #}
	{{update_function}}("{{dataset}}","{{analysis}}");
	

</script>

{% endblock %}
