{% extends "core/frame.html" %}
{% comment %}
The Topical Guide
Copyright 2010-2011 Brigham Young University

This file is part of the Topical Guide <http://nlp.cs.byu.edu/topic_browser>.

The Topical Guide is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topical Guide is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topical Guide.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topical Guide, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block body %}
<div id="terms" style="padding-top: 2em;">
<p>
THE WEBSITE IS PROVIDED AS A PUBLIC SERVICE IN THE HOPE THAT IT WILL BE USEFUL, BUT WITHOUT ANY WARRANTY. IT IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE WEBSITE IS WITH YOU. YOUR USE OF ANY INFORMATION OR MATERIALS ON THIS WEBSITE IS ENTIRELY AT YOUR OWN RISK, FOR WHICH WE SHALL NOT BE LIABLE. IT SHALL BE YOUR OWN RESPONSIBILITY TO ENSURE THAT ANY PRODUCTS, SERVICES OR INFORMATION AVAILABLE THROUGH THIS WEBSITE MEET YOUR SPECIFIC REQUIREMENTS.
</p>

<p>
IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW THE AUTHORS WILL BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE WEBSITE (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE OF THE WEBSITE TO OPERATE WITH ANY OTHER PROGRAMS OR WEBSITES), EVEN IF THE AUTHORS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
</p>

<p>
LIKE MOST WEBSITES, THE TOPICAL GUIDE COLLECTS NON-PERSONALLY-IDENTIFYING INFORMATION OF THE SORT THAT WEB BROWSERS AND SERVERS TYPICALLY MAKE AVAILABLE, SUCH AS THE BROWSER TYPE, LANGUAGE PREFERENCE, REFERRING SITE, AND THE DATE AND TIME OF EACH VISITOR REQUEST. OUR PURPOSE IN COLLECTING NON-PERSONALLY IDENTIFYING INFORMATION IS TO BETTER UNDERSTAND HOW THE TOPICAL GUIDE’S VISITORS USE ITS WEBSITE. WE RESERVE THE RIGHT TO PUBLISH ACADEMIC RESEARCH BASED ON THIS DATA, AND PUBLISH ANY COLLECTED, WITH THE EXCEPTION OF ANY PERSONALLY-IDENTIFYING INFORMATION.
</p>

<p>
THE TOPICAL GUIDE ALSO COLLECTS POTENTIALLY PERSONALLY-IDENTIFYING INFORMATION LIKE INTERNET PROTOCOL (IP) ADDRESSES FOR LOGGED IN USERS. HOWEVER, WE WILL NOT UNIQUE IP ADDRESSES.
</p>

<p>
ANY ACTIVITIES USING THE WEBSITE OR OUR SERVICE INCLUDING BUT NOT LIMITED TO ILLEGAL ACTIVITIES, DENIAL OF SERVICE, INTERNET SPAM, MANIPULATION OF SEARCH ENGINE RANKINGS ARE PROHIBITED. THE ABSENCE OF AN ACTIVITY FROM THIS LIST OF PROHIBITIONS SHALL NOT BE CONSTRUED TO MEAN THAT SUCH MALICIOUS ACTIVITIES ARE PERMITTED.
</p>

<p>
WE RESERVE THE RIGHT TO MAKE CHANGES TO THESE TERMS FROM TIME TO TIME WITHOUT NOTIFICATION. IF YOU USE THE SERVICE AFTER THE TERMS HAVE CHANGED, WE WILL TREAT YOUR USE AS ACCEPTANCE OF THE UPDATED TERMS.
</p>
</div>
{% endblock %}