{% extends "base.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block scripts %}
	<script type="text/javascript">
		$.fn.topic_vars = function () {};
		$.fn.topic_vars.curtopic_number = {{ curtopic.number }};
		$.fn.topic_vars.post_link = "{{ topic_post_link }}";
	</script>
{% endblock %}

{% block above_sidebar %}
	<script type="text/javascript"
		src="/site-media/topic_scripts/filters.js">
	</script>
	<table class="above_inset">
		{{ sort_form }}
		<tr><td>Filters</td><td><hr/></td></tr>
		<tbody id="id_filter_form">
            {{ filter|safe }}
		</tbody>
	</table>
{% endblock %}

{% block sidebar %}
	<script type="text/javascript"
		src="/site-media/common_scripts/sidebar.js">
	</script>
	<script type="text/javascript"
		src="/site-media/topic_scripts/sidebar.js">
	</script>
	<script type="text/javascript"
		src="/site-media/topic_scripts/main.js">
	</script>
	<div id="topics_list" class="inset"></div>
	<script type="text/javascript">
		$(document).ready(function () {
			get_topic_page({{ page_num }});
		});
	</script>
{% endblock %}

{% block presentation_area %}
	<div id="tabs">
		<ul>
			{% for top_level_widget in top_level_widgets %}
			<li class="top-level"><a href="#tabs-{{forloop.counter}}">
				{{ top_level_widget.title }}</a></li>
			{% endfor %}
		</ul>
		{% for top_level_widget in top_level_widgets %}
		<div id="tabs-{{forloop.counter}}">
			<div class="lower-tabs" id="{{top_level_widget.ref}}-tabs">
				<ul>
					{% for widget in top_level_widget.widgets %}
					<li class="lower-level"><a href="#{{top_level_widget.ref}}-tabs-{{forloop.counter}}">{{ widget.title }}</a></li>
					{% endfor %}
				</ul>
				{% for widget in top_level_widget.widgets %}
				<div id="{{top_level_widget.ref}}-tabs-{{forloop.counter}}">
					{% include widget.url %}
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}

