{% extends "base.html" %}
{% comment %}
The Topic Browser
Copyright 2010-2011 Brigham Young University

This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.

The Topic Browser is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your option)
any later version.

The Topic Browser is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.

If you have inquiries regarding any further use of the Topic Browser, please
contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
{% endcomment %}

{% block scripts %}
	<script charset="utf-8" type="text/javascript">
		$.fn.word_vars = function () {};
		$.fn.word_vars.baseurl = "{{ baseurl }}";
		$.fn.word_vars.dataset = "{{ dataset }}";
		$.fn.word_vars.analysis = "{{ analysis }}";
		$.fn.word_vars.curword = "{{ curword.type }}";
	</script>
{% endblock %}

{% block above_sidebar %}
	<table>
		{{ word_find_form }}
	</table>
{% endblock %}

{% block sidebar %}
	<script charset="utf-8" type="text/javascript"
		src="/site-media/common_scripts/sidebar.js">
	</script>
	<script charset="utf-8" type="text/javascript"
		src="/site-media/word_scripts/word_sidebar.js">
	</script>
	<div id="word_list" class="inset"></div>
	<script charset="utf=8" type="text/javascript">
		$(document).ready(function () {
			get_word_page({{ page_num }});
		});
	</script>
{% endblock %}

{% block presentation_area %}
	<div id="presentation-area-main-column">
		{% include "word_widgets/word_in_context.html" %}
	</div>
	<div id="presentation-area-sidebar">
		{% include "word_widgets/total_count.html" %}
		{% include "word_widgets/top_topics.html" %}
		{% include "word_widgets/top_documents.html" %}
	</div>
{% endblock %}


