<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Topical Guide</title>
        <link rel="shortcut icon" href="{{nlp_lab_small_logo_url}}" />
        
        <link rel="stylesheet" type="text/css" href="{{MEDIA}}/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA}}/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA}}/bootstrap-toggle/css/bootstrap-toggle.min.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA}}/jquery-ui/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA}}/jquery-ui/jquery-ui.theme.css" />
        <link rel="stylesheet" type="text/css" href="{{STYLES}}/base.css" />
        <link rel="stylesheet" type="text/css" href="{{STYLES}}/tip-styles.css" />
        
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/libs/jquery-1.11.1.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/libs/lodash.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/libs/backbone.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/libs/d3.v3.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/libs/d3.layout.cloud.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/libs/d3.tip.v0.6.3.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{MEDIA}}/jquery-ui/jquery-ui.js"></script>
        <!-- Note that jQuery UI conflicts with bootstrap's tooltip functionality, thus bootstrap is loaded afterwards -->
        <script charset="utf-8" type="text/javascript" src="{{MEDIA}}/bootstrap/3.3.4/js/bootstrap.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{MEDIA}}/bootstrap-toggle/js/bootstrap-toggle.js"></script>
        
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        
        <script id="tg-main-template" type="text/template">
            
            <header class="header">
                <div id="tg-nav" class="nav-bar"></div>
                <div id="tg-breadcrumbs" class=""></div>
                <div id="tg-errors" class=""></div>
            </header>
            
            <div id="tg-views-container" class="container-fluid"></div>
            <footer class="footer">
                <p><a href="{{nlp_lab_url|safe}}"><img width="135px" height="135px" src="{{nlp_lab_logo_url|safe}}"/></a></p>
                <div class="text-center">
                    <ul class="nav nav-pills centered-pills">
                        <li><a href="{{wiki_url|safe}}">Topical Guide Wiki</a></li>
                        <li><a href="{% url 'terms' %}">Terms of Use</a></li>
                        <li><a href="{{nlp_lab_url|safe}}">NLP Home</a></li>
                        <li><a href="{{cs_dept_url|safe}}">CS Department Home</a></li>
                        <li><a href="http://www.byu.edu">BYU Home</a></li>
                    </ul>
                </div>
                <p id="tg-last-updated">{{last_updated}}</p>
                <p>Version:&nbsp;<span id="tg-version">{{version}}</span></p>
                <p>Developed by the BYU Natural Language Processing Lab</p>
                <p>Copyright &copy; 2010-2011 Brigham Young University</p>
            </footer>
        </script>
        
        <script id="tg-nav-template" type="text/template">
            <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 1px;">
                <div class="container-fluid">
                    <div id="tg-nav-brand" class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#js-navbar-collapse-hook">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand" style="padding: 5px;">
                            <svg width="180" height="100%" viewBox="0, 0, 300, 70" preserveAspectRatio="xMinYMid meet">
                                <g>
                                    <text style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
                                       x="50"
                                       y="14">
                                       <tspan sodipodi:role="line">The</tspan>
                                    </text>
                                    <text  style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:-1px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
                                       x="80" 
                                       y="35">
                                       <tspan sodipodi:role="line"><tspan style="line-height:1000%;fill:#008000">Topic</tspan>al</tspan>
                                    </text>
                                    <text style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:-1px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
                                       x="185"
                                       y="67">
                                       <tspan>Guide</tspan>
                                    </text>
                                    <g>
                                        <rect
                                           style="fill:#000000;fill-opacity:1"
                                           width="50"
                                           height="70"
                                           x="0"
                                           y="0"
                                           ry="11"
                                           rx="11" />
                                        <rect
                                           style="fill:#ffffff;fill-opacity:1"
                                           width="40"
                                           height="60"
                                           x="5"
                                           y="5"
                                           rx="8"
                                           ry="8" />
                                        
                                        <rect
                                           style="fill:#0000cc;fill-opacity:1"
                                           width="30"
                                           height="6"
                                           x="10"
                                           y="15"
                                           rx="4"
                                           ry="4" />
                                        <rect
                                           style="fill:#00d000;fill-opacity:1"
                                           width="30"
                                           height="6"
                                           x="10"
                                           y="26"
                                           rx="4"
                                           ry="4" />
                                        <rect
                                           style="fill:#d30000;fill-opacity:1"
                                           width="30"
                                           height="6"
                                           x="10"
                                           y="37"
                                           rx="4"
                                           ry="4" />
                                        <rect
                                           style="fill:#ee7216;fill-opacity:1"
                                           width="30"
                                           height="6"
                                           x="10"
                                           y="48"
                                           rx="4"
                                           ry="4" />
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div id="js-navbar-collapse-hook" class="collapse navbar-collapse">
                        <ul id="tg-nav-bar" class="nav navbar-nav"></ul>
                    </div>
                </div>
            </nav>
            <div id="tg-nav-modals-container">
                <div id="tg-nav-help-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true"></div>
                <div id="tg-nav-settings-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="settingsModal" aria-hidden="true"></div>
            </div>
        </script>
        
        <script id="global-dataset-and-analyses-info" type="text/template">
            {% autoescape off %}
                {{datasets_and_analyses}}
            {% endautoescape %}
        </script>

        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/framework/tg_utilities.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/framework/tg_router.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/framework/tg_models.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/framework/tg_view_classes.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/framework/tg_view_widgets.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/framework/tg_settings_views.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/framework/tg_start.js"></script>
        
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/standard_views/home_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/standard_views/datasets_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/standard_views/all_topics_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/standard_views/single_topic_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/standard_views/topic_words_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/standard_views/all_documents_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/standard_views/single_document_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/standard_views/metadata_view.js"></script>
        
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/visualizations/2dplots_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/visualizations/chord_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/visualizations/topics_over_time_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/visualizations/legend.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/visualizations/metadata_map_view.js"></script>
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/visualizations/treemap_view.js"></script>
<!--
        THIS VISUALIZATION IS ONLY PARTIALLY WORKING.
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/visualizations/force_view.js"></script>
-->
        <script charset="utf-8" type="text/javascript" src="{{SCRIPTS}}/itm/topic_word_cooccurrance_view.js"></script>
        
        
    </head>
    
    <body>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <div id="tg-share" class="share text-center">
            <div id="share-facebook"><div class="fb-share-button"></div></div>
            <div id="share-google-plus"><div class="g-plus" data-action="share" data-annotation="none"></div></div>
        </div>
        
        <div id="tg-all-content" class="container-fluid">
            <header class="header">
                <div id="tg-nav" class="nav-bar"></div>
                <div id="tg-breadcrumbs" class=""></div>
                <div id="tg-errors" class=""></div>
            </header>
            
            <div id="tg-views-container" class="container-fluid"></div>
            <div id="tg-all-modals-container">
                <div id="tg-nav-help-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true"></div>
                <div id="tg-nav-settings-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="settingsModal" aria-hidden="true"></div>
            </div>
            <footer class="footer">
                <p><a href="{{nlp_lab_url|safe}}"><img width="135px" height="135px" src="{{nlp_lab_logo_url|safe}}"/></a></p>
                <div class="text-center">
                    <ul class="nav nav-pills centered-pills">
                        <li><a href="{{wiki_url|safe}}">Topical Guide Wiki</a></li>
                        <li><a href="{% url 'terms' %}">Terms of Use</a></li>
                        <li><a href="{{nlp_lab_url|safe}}">NLP Home</a></li>
                        <li><a href="{{cs_dept_url|safe}}">CS Department Home</a></li>
                        <li><a href="http://www.byu.edu">BYU Home</a></li>
                    </ul>
                </div>
                <p id="tg-last-updated">{{last_updated}}</p>
                <p>Version:&nbsp;<span id="tg-version">{{version}}</span></p>
                <p>Developed by the BYU Natural Language Processing Lab</p>
                <p>Copyright &copy; 2010-2011 Brigham Young University</p>
            </footer>
        </div>
    </body>
</html>
