.node
{
    cursor: pointer;
}

.node:hover
{
    stroke: #000;
    stroke-width: 1.5px;
}

.node--root:hover
{
    stroke: white;
    stroke-width: 0px;
}

.node--leaf 
{
    fill: white;
    pointer-events: none;
}

.label
{
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label
{
    pointer-events: none;
}

.onoffswitch {
    position: relative; width: 192px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-left: auto; margin-right: auto;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 25px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 35px; padding: 0; line-height: 37px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Total Tokens";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: left;
}

.onoffswitch-inner:after {
    content: "Average Percentage";
    padding-right: 10px;
    background-color: #4DD6C6; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 16px; margin: 10.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 151px;
    border: 2px solid #999999; border-radius: 25px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
