/*
 * The Topic Browser
 * Copyright 2010-2011 Brigham Young University
 *
 * This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.
 *
 * The Topic Browser is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * The Topic Browser is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.
 *
 * If you have inquiries regarding any further use of the Topic Browser, please
 * contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
 * Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
 */
 
/* Style needed by every page */

/***** General Page Structure *****/
body {
	padding: 0;
	margin: 0;
}

a:link, a:visited, td.remove, .link, .clickable_text {
    color:#000F3E;
    text-decoration:none;
}

a:hover {
    color:#0033D5;
}
a:hover span {
    color:#0033D5;
}

/***** Tables *****/
table {
	/*Make cell borders run together instead of having gaps:*/
	border-collapse: collapse;
	border-spacing: 0.9em;
	width: 100%;
}

td.key {
	text-align: left;
}

th.value, td.value {
	text-align: right;
}

table th {
	font-size: 1em;
}

table th, table td {
	padding: 0.3em;
	
}

table td.key {
}

table td.value {
	padding-left: 2em;
}

table tr:nth-child(odd) {
	background-color: #ffffff;
	/*background-color: #fff6d0;*/
}
table tr:nth-child(even) {
	background-color: #fffcef
}

/***** Unordered Lists *****/
ul.vertical {
    border-radius:0.5em;
    border-width: 1px;
    border-style: solid;
    padding: 0;
    margin: 0;
    background-color:#ffffee;
}

ul.vertical > li {
	/*height: .1em;*/
	list-style: none;
	
	word-wrap: break-word;
	/*padding: 0.25em 1em 0.25em 1em;*/
}

ul.vertical > li > a {
	vertical-align: middle;
}

ul.vertical > li.selected, ul > li.selected:hover {
	border-radius: 0.5em;
	background-color:#FFCC00;
}

ul.vertical > li:hover {
	background-color: rgba(255,204,0,0.1);
	transition: background 300ms ease;
	-webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
}

/***** Other Elements *****/
label {
    font-weight:normal;
}

/***** Cupertino Tweaks *****/
.ui-widget {
    /*font-size: .8em !important;*/
}

.ui-tabs, .ui-tabs-nav {
    padding: 0 !important;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 0 !important;
    /*padding: 0.25em 0.5em 0.25em 0.5em !important;*/
}
/*
.ui-icon {
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
*/

/***** Favorites *****/
img.inactive-star, img.star {
	/*height: 0;
	width: 0;*/
	/*padding: 1em;*/
	/*padding: 0.6em 1em 0.6em 1em;*/
	/*margin: 1em;*/
	/*height: inherit;
	width: 150px;*/
	/*
	background-image: url("/site-media/images/openclipart/Outlined_star-45623.png");
	background-repeat: no-repeat;
	background-position: center center;
	*/
	
	width: 1.2em;
	height: 1.2em;
	/*
    min-height: 1em;
    min-width: 1em;
*/
    content: url("/site-media/images/openclipart/Outlined_star-45623.png");
    
}

img.inactive-star.fav, img.star.fav {
	content: url("/site-media/images/openclipart/Star-349834968906.png") !important;
    /*background-image: url("/site-media/images/openclipart/Star-349834968906.png") !important;*/
}