/*
 * The Topic Browser
 * Copyright 2010-2011 Brigham Young University
 *
 * This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.
 *
 * The Topic Browser is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * The Topic Browser is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.
 *
 * If you have inquiries regarding any further use of the Topic Browser, please
 * contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
 * Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
 */
 
nav#header {
	position: fixed;
	top: 0;
    width: 100%;
    margin-bottom: 1em;
    clear: both;
    z-index: 10;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 1em;
    clear: both;
    text-align: center;
    z-index: 5;
}

nav#header, footer {
    background-color: hsla(210,85%,65%,1);
}



ul.nav-menu {
    height: 2em;
    list-style-type: none;
    padding: 0;
    display: table-row;
    background: none;
}

ul.nav-menu.right {
	position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

ul.nav-menu > li {
	display: inline-block;
    height: 2em;
    line-height: 2em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    border-right: 1px dashed gray;
    display: table-cell;
}

ul.nav-menu.left > li { float: left; }
ul.nav-menu.right > li { float: right; }

ul.nav-menu > li > ul {
	z-index: 10;
}



nav#header li#logo {
    padding-left: 0.2em;
    padding-right: 0.2em;
    background: hsla(210,85%,35%,1);
    border: none;
}

nav#header li#branding a {
    height: 2em;
}

nav#header li#logo a img {
    height: 2em;
    border: 0;
}

/*
    Thanks to http://css-tricks.com/triangle-breadcrumbs/ for the breadcrumb
    stuff
*/

ul.nav-menu > li.breadcrumb {
    padding: 0;
}

ul.nav-menu > li.breadcrumb > * {
    color: white;
    text-decoration: none;
    padding-left: 2em;
    padding-right: 0.2em;
    padding-top: 0;
    padding-bottom: 0;
    background: blue;                   /* fallback color */
    background: hsla(210,85%,35%,1);
    position: relative;
    display: block;
}

ul.nav-menu > li.breadcrumb > *:after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid hsla(210,85%,35%,1);
    position: absolute;
    top: 0%;
    margin-top: 0;
    left: 100%;
    z-index: 2;
    background:url("/site-media/images/rarrow.png") no-repeat right center;
}

ul.nav-menu > li.breadcrumb:first-child > * {
    padding-left: 0.9em;
}
ul.nav-menu > li.breadcrumb:nth-child(2) > *       { background:        hsla(210,85%,35%,1); padding-left: 10px;}
ul.nav-menu > li.breadcrumb:nth-child(2) > *:after { border-left-color: hsla(210,85%,35%,1); }
ul.nav-menu > li.breadcrumb:nth-child(3) > *       { background:        hsla(210,85%,45%,1); }
ul.nav-menu > li.breadcrumb:nth-child(3) > *:after { border-left-color: hsla(210,85%,45%,1); }
ul.nav-menu > li.breadcrumb:nth-child(4) > *       { background:        hsla(210,85%,55%,1); }
ul.nav-menu > li.breadcrumb:nth-child(4) > *:after { border-left-color: hsla(210,85%,55%,1); }
ul.nav-menu > li.breadcrumb:nth-child(5) > *       { background:        hsla(210,85%,65%,1); }
ul.nav-menu > li.breadcrumb:nth-child(5) > *:after { border-left-color: hsla(210,85%,65%,1); }
ul.nav-menu > li.breadcrumb:last-child > * {
    background: transparent !important;
    color: #000000;
    font-variant: small-caps;
    border: 0;
}
ul.nav-menu > li.breadcrumb:last-child > *:after {
    background: transparent !important;
    border: 0;
}

ul.nav-menu > li.breadcrumb > *:hover { background: hsla(210,85%,25%,1); }
ul.nav-menu > li.breadcrumb > *:hover:after { border-left-color: hsla(210,85%,25%,1) !important; }

/***** Favorites *****/
nav#header li#favorites {
	text-align: right;
	padding: 0;
}

li#favorites > img.inactive-star {
	margin-right: 0.2em;
}

/* The "Favorites" button */
nav#header li#favorites > span {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    padding: 0 0.9em 0 0.9em;
    margin-right: 0.5em;
}

nav#header li#favorites > span.active {
	background-color: white;
	border-left-width: 0.2em;
	border-left-color: gray;
}


/* The drop-down element */
nav#header li#favorites > ul {
	visibility: hidden;
	background: white;
	text-align: left;
	box-shadow: 0.5em 0.2em 0.5em #ccc;
	margin-right: 0.5em;
}

nav#header li#favorites ul {
	list-style-type: none;
	padding: 0 0.7em 0.7em 0.7em;
}

nav#header li#favorites li.entity:not(:last-child) {
	margin-bottom: 2em;
}

nav#header li#favorites li.favorite > a {
	/*
	display: inline-block;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	*/
}
/*
#sidebar-list > li::before,
nav#header li#favorites li.favorite > a::before {
	content: " ";
	display: inline-block;
	height: .1em;
	width: .1em;
	
	background-repeat: no-repeat;
	background-position: center right;
	background-origin: padding-box;
	padding: 1em;
}*/





/*
#sidebar-list > li::before {
	background-image: url("/site-media/images/openclipart/Outlined_star-45623.png");
}
*/

nav#header li#favorites li.favorite > a::before {
	background-image: url("/site-media/images/openclipart/Star-349834968906.png");
}