/*
 * The Topic Browser
 * Copyright 2010-2011 Brigham Young University
 *
 * This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.
 *
 * The Topic Browser is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * The Topic Browser is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.
 *
 * If you have inquiries regarding any further use of the Topic Browser, please
 * contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
 * Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
 */

/***** Large Page Elements *****/
#main {
    width: 100%;
    clear: both;
}

#sidebar {
    float: left;
    height: 100%;
    max-width: 30%;
}

#presentation-area {
    margin-left: 15px;
    float: left;
    width: 70%;
}

#presentation-area-main-column {
    float: left;
    width: 60%;
}

#presentation-area-sidebar {
    margin-left: 30px;
    margin-right: 30px;
    float: left;
    width: 30%;
}

/***** List Navigation *****/
div#list-nav {
    text-align:center;
    margin-bottom: 14px;
}

div#list-nav span#back-arrows a {
    float: left;
}

div#list-nav span#fwd-arrows a {
    float: right;
}

div#list-nav span#back-arrows a:hover,
div#list-nav span#fwd-arrows a:hover {
    background-color: #e3f1fa;
}

div#list-nav span.arrows a {
    padding: 2px;
}

/***** Widgets *****/
.top-level-widget {
    margin: 12px;
    padding: 2px;
    border: 1px solid #4C3C1B;
    background-color: #99ccff;
}

.hidden{
    display: none;
}

.ui-widget.full {
    padding: 2px;
    border: 1px solid #4C3C1B;
    margin: 12px;
}

.ui-widget.full .ui-widget-header {
    text-align: center;
}

.ui-widget.full .ui-widget-content {
    margin:2px;
    -moz-border-radius:5px;
    background:#ffffee;
    
}

.barchart {
    /*width: 210px;*/
}

.barchart img {
    margin: 2px;
    border: 1px solid #4C3C1B;
}

.inherit {
    width: inherit;
}

.full-width {
    width: 100%;
}

table.kwic {
    width:100%;
    table-layout:fixed;
}

table.kwic col.filename {
    width: 25%;
}
table.kwic col.lcontext {
    width: 23%;
}
table.kwic col.word {
    width: 23%;
}
table.kwic col.rcontext {
    width: 22%;
}
table.kwic col.reload {
    width: 5%;
}

table.kwic tr td {
    border-bottom: 1px solid #C1DAD7;
    padding-left: 10px;
    padding-right: 0px;
}

table.kwic tr td.doc-name {
    word-wrap:break-word;
}

/***** Sidebar *****/
#sidebar > #tab-content {
	padding: 0 1em 0.8em 1em;
}

#sidebar > #tab-content h1 {
	font-size: 20px;
	text-align: center;
}

table.filters tr {
	background: none;
}

table.inset-small {
    padding:2px;
    -moz-border-radius:5px;
    background-color:#ffffee;
}

table.above_inset {
    width:100%;
    padding:2px;
    -moz-border-radius:5px;
}

td.align-top {
    vertical-align:top;
}

td.word {
    font-size:larger;
    text-align:center;
    font-weight:bold;
}


/***** General *****/
td.remove:hover, .link:hover, .clickable_text:hover {
    cursor:pointer;
}

.inset {
    width:100%;
    padding:2px;
    -moz-border-radius:5px;
    background-color:#ffffee;
}