/*
 * The Topic Browser
 * Copyright 2010-2011 Brigham Young University
 *
 * This file is part of the Topic Browser <http://nlp.cs.byu.edu/topic_browser>.
 *
 * The Topic Browser is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your
 * option) any later version.
 *
 * The Topic Browser is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 * License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the Topic Browser.  If not, see <http://www.gnu.org/licenses/>.
 *
 * If you have inquiries regarding any further use of the Topic Browser, please
 * contact the Copyright Licensing Office, Brigham Young University, 3760 HBLL,
 * Provo, UT 84602, (801) 422-9339 or 422-3821, e-mail copyright@byu.edu.
 */

/***** Large Page Elements *****/
#main {
	z-index: 0;
	position: relative;
	padding-top: 2.5em;
}

#sidebar {
	vertical-align: top;
    display: inline-block;
    width: 25%;
}

#presentation-area {
	display: inline-block;
	vertical-align: top;
    padding-left: 1em;
    width: 73%;
}

/***** List Navigation *****/
div#list-nav {
    text-align:center;
    margin-bottom: 1.1em;
}

div#list-nav span#back-arrows a {
    float: left;
}

div#list-nav span#fwd-arrows a {
    float: right;
}

div#list-nav span#back-arrows a:hover,
div#list-nav span#fwd-arrows a:hover {
    background-color: #e3f1fa;
}

div#list-nav span.arrows a {
    padding: 0.2em;
}


#sidebar-list > li > img.fav {
    padding-top: 0.05em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

table.kwic {
    width:100%;
    table-layout:fixed;
}

table.kwic col.document {
    width: 5%;
}
table.kwic col.lcontext {
    width: 37%;
}
table.kwic col.word {
    width: 15%;
}
table.kwic col.rcontext {
    width: 38%;
}
table.kwic col.reload {
    width: 5%;
}

table.kwic tr td {
    border-bottom: 1px solid #C1DAD7;
}

table.kwic tr td img {
	border-radius: 0.5em;
	padding: 0.5em;
	cursor: pointer;
}

table.kwic tr td img:hover {
	background-color: #e3f1fa;
}

table.kwic tr td.word a {
	border-radius: 0.5em;
	padding: 0.25em 0.6em 0.25em 0.6em;
}

table.kwic tr td.word a:hover {
    background-color: #FFCC00;
    transition: background 300ms ease;
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
}

table.kwic tr td.lcontext {
	text-align: right;
}

table.kwic tr td.rcontext {
	text-align: left;
}

table.kwic tr td.lcontext, table.kwic tr td.rcontext {
    white-space: nowrap;
    overflow: hidden;
}



/***** Sidebar *****/
#sidebar > #tab-content {
	padding: 0 1em 0.8em 1em;
}

#sidebar > #tab-content h1 {
	font-size: 1.6em;
	text-align: center;
}

table.filters tr {
	background: none;
}

table.inset-small {
    padding:0.2em;
    -moz-border-radius:0.5em;
    background-color:#ffffee;
}

table.above_inset {
    width:100%;
    padding:0.2em;
    -moz-border-radius:0.5em;
}

td.align-top {
    vertical-align:top;
}

td.word {
    font-size:larger;
    text-align:center;
    font-weight:bold;
}


/***** General *****/
td.remove:hover, .link:hover, .clickable_text:hover {
    cursor:pointer;
}

.inset {
    width:100%;
    padding:0.2em;
    -moz-border-radius:0.5em;
    background-color:#ffffee;
}

/***** Application-Area Tabs *****/
/* Space things out a little */
div#presentation-area div#tabs > div > *,
.tr > div {
	padding-right: 0.9em;
    padding-bottom: 0.9em;
}

.tr {
    display: table-row;
}

.tr > div {
    display: table-cell;
}